#azul{
    color: blue;
}
#naranja{
    color:orange
}
#rojo{
    color:red
}
#amarillo{
    background-color:orange;
}
#verde{
    background-color: green;
}
#rosa{
    background-color: pink;
}
#idiomas{
    background-color: blue;
}
#gris{
    background-color: grey;
}
h1{
    color: green;
    text-align: center;
}