th, td, table {
    border-collapse: collapse;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    
}
td{
    text-align: center;
}

.Sesen{
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;

}
.Marisa{
    background-color: chartreuse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Espasa{
    background-color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Tutoria{
    background-color: cyan;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.Duran{
    background-color: yellow;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.Carles{
    background-color: salmon;
    font-family: monospace;
}